.Movie {
  
  display: grid;
  grid-template-columns: auto;
  gap:2rem;
  color:black;
  font-family: 'Lemonada', cursive;
}
.counter{
  display: flex;
  justify-content: left;
  margin:0rem;
}
.likes-dislikes{
  margin-left:1rem;
}
.movies{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.movie-pic{
  width:100%;

  object-fit: cover;
  opacity:0.5;
}
.movie-pic:hover{
  opacity:1;
  transform:scale(1);
  transition:1s;
}
.movies textarea{
  border:0px;
  width:19.5rem;
  height:10rem;
  text-align: left;
  margin: 0rem;
  font-family: 'Lemonada', cursive;
}
p{
  text-align: left;
}
.likes-dislikes{
  height:2rem;
  width:4rem;
  font-size: 1rem;
}

@media (min-width:660px){
  .Movie{
    grid-template-columns: auto auto;
    gap:0.5rem;
  }
}

@media (min-width:995px){
  .Movie{
    grid-template-columns: auto auto auto;
    gap:1.1rem;
  }
}

